@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inter';
  src: local('Inter'), url(./assets/fonts/Inter-VariableFont_slnt\,wght.ttf) format('truetype-variations');
}

@font-face {
  font-family: 'Roboto Slab';
  src: local('Roboto Slab'), url(./assets/fonts/RobotoSlab-VariableFont_wght.ttf) format('truetype-variations');
}

body {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4 {
  font-family: 'Roboto Slab', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

