.App {
  display: grid;
  grid-template-columns: 400px 1fr;
  height: 100vh;
  margin: 0 auto;
  padding: 0px;
  align-items: stretch;
  justify-content: center;
  font-size: 18px;
  box-sizing: border-box;
  overflow: auto;
  background-image: url("./assets/images/InexplicableTavern_hungover.png");
  font-family: Lora, serif;
}

body.dark-mode {
  background-color: #222;
}

body {
  background-color: #d4cab8;
}

.App.no-sidebar {
  grid-template-columns: 1fr;
}

.app-controls {
  font-size: 12px;
  font-family: sans-serif;
  padding: 10px;
}

a {
  color: #165cb9;
}

@media only screen and (max-width: 900px) {
  div.App {
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr;
  }

  .chat-wrapper {
    grid-row-start: 2;
  }

  div.sidebar {
    margin: 0px;
  }

  div.leaflet-container {
    border: none;
    border-radius: 0px;
  }

  .app-controls {
    margin-bottom: -20px;
    background-color: rgb(255, 255, 235);
  }
}

.leaflet-container {
  border-radius: 10px;
  border: 1px solid black;
}

.sidebar {
  display: flex;
  flex-direction: column;
  overflow: auto;
  border-radius: 15px;
}

.game-state {
  flex: 1;
  overflow: auto;
  padding: 0px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat-wrapper {
  display: flex;
  flex-direction: column;
  animation: popInApp 0.3s 0.3s cubic-bezier(0.5, 0, 0, 1);
  animation-fill-mode: forwards;
  overflow-y: auto;
  opacity: 0;
  min-height: 500px;
  height: 100%;
}

.chat {
  flex: 1;
  border: 1px solid rgb(184, 184, 184);
  background-color: rgb(228, 226, 221);
  margin: 30px 20px 0px;
  overflow-y: auto;
  border-radius: 10px 10px 0px 0px;
  position: relative;
  border-style: ridge;
  border-color: lightgray;
  border-width: 10px 10px 0px 10px;

  /* box-shadow: 0px 10px 10px rgba(250, 199, 169, 0.5); */
}

.sidebar {
  margin: 30px 0px 0px 0px;
  width: 100%;
  animation: popInApp 0.3s cubic-bezier(0.5, 0, 0, 1);
  animation-fill-mode: forwards;
  opacity: 0;
  background-color: lightgrey;
  height: 100%;
}

.message.type-setting {
  /* font-style: italic; */
  background-color: #efefef;
  color: rgb(42, 42, 42);
  border: none;
  font-size: 18px;
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 10px;
  margin-left: 130px;
  margin-right: 130px;
  text-align: left;
  display: block;
  white-space: pre-wrap;
}

.floatFix {
  margin: 0;
  clear: both;
}

.message.type-setting p,
.message.type-setting .markdown-p {
  margin: 0 0px 10px 0px;
}
.markdown-p em {
  font-weight: bold;
  color: #585e67;
}
.message.type-setting p:last-child,
.message.type-setting .markdown-p:last-child {
  margin: 0 0px 0px 0px;
}

.message.me {
  float: left;
  margin-right: 80px;
}
.message.other {
  float: right;
  margin-left: 80px;
}
.message.type-dialogue {
  background-color: white;
  animation: popInChat 0.25s cubic-bezier(0, 0.5, 0, 1);
  box-shadow: 0 2px 2px #bbb;
  text-align: left;
  white-space: pre-line;
}

.message.type-action {
  background-color: white;
  animation: popInChat 0.25s cubic-bezier(0, 0.5, 0, 1);
  box-shadow: 0 2px 2px #bbb;
  text-align: left;
  color: #999;
  font-style: italic;
}

.message .agent {
  font-size: 13px;
  top: 0;
  left: 0;
  margin: -19px -10px 5px -10px;
  color: #666;
  font-style: italic;
}

.message .agent span {
  background-color: rgba(0, 0, 0, 0.07);
  padding: 1px 5px;
  border-top-left-radius: 7px;
  margin-right: 7px;
}

.message {
  padding: 20px 10px 10px;
  clear: both;
  border: 1px solid rgb(201, 201, 201);
  margin: 5px;
  border-radius: 7px;
  text-align: center;
  position: relative;
  /* font-size: 16px; */
}

.controls {
  /* justify-self: flex-end; */
  min-height: 100px;
  background-color: rgb(255, 255, 255);
  width: auto;
  margin: 0px 20px 0px;
  box-sizing: border-box;
  box-shadow: 0px 10px 10px rgba(109, 90, 48, 0.2);
  border-radius: 0px 0px 10px 10px;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(184, 184, 184);
  border-top: none;
  overflow: hidden;
  border-style: ridge;
  border-color: lightgray;
  border-width: 10px 10px 10px 10px;
}

.controls input {
  border: none;
  padding: 10px;
  font-size: 18px;
  background-color: white;
  border: 3px solid #dedede;
  flex: 1;
  font-family: Lora, serif;
}

input::placeholder {
  font-style: italic;
  color: #aaa;
}

input.chatbox:active,
input.chatbox:focus {
  border: 3px solid #fcff56;
  outline: none;
  font-style: normal;
}

input.edit-message {
  font: inherit;
  width: 100%;
  padding: 3px;
  box-sizing: border-box;
}

.controls span.action {
  margin: 5px 3px;
  padding: 5px;
  display: inline-block;
  background-color: #f1f1f1;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #eaeaea;
  color: #777;
}

.controls .actions {
  padding: 10px 10px 0px;
  font-size: 14px;
  background-color: rgb(228, 226, 221);
  flex: 1;
}

span.action:first-child {
  background-color: #777;
  color: #f1f1f1;
}

@keyframes popInChat {
  0% {
    opacity: 0;
    transform: scale(0.6, 0.6) translateY(120px);
  }
  60% {
    transform: translateY(-2px);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1) translateY(0px);
  }
}

@keyframes popInApp {
  0% {
    opacity: 0;
    transform: scale(0.9, 0.9) translateY(80px);
  }
  60% {
    transform: translateY(-2px);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1) translateY(0px);
  }
}

.leaflet-container {
  height: 200px;
  width: 100%;
  margin: 0 auto;
}

i.fa {
  cursor: pointer;
}

.header {
  font-size: 15px;
  display: flex;
}
.header h1 {
  margin: 0;
  padding: 0;
}
.header img {
  border-radius: 5px;
  margin-right: 15px;
  width: 75px;
}

.persona {
  margin: 60px 10px 0px 0px;
  background-color: lightgoldenrodyellow;

  border-radius: 25px;
  box-shadow: 5px 2px 5px;
  position: relative;
  box-shadow: 5px 2px 5px;
  width: 94%;
  padding: 0px 10px 5px 10px;
}

.persona h3,
.location h3 {
  text-align: center;
  font-size: 14px;
  margin: 0;
}

.location p {
  margin: 0;
  font-size: 14px;
  white-space: pre-line;
  text-align: center;
}

.persona .icon {
  position: absolute;
  left: 50%;
  top: 0%;
  transform: translate(-50%, -75%);
  font-size: 50px;
  background-color: #fdf1b3;
  border-radius: 72px;
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid gold;
}

.char-icon {
  padding-top: 10%;
}
.persona-text {
  margin: 0px;
  text-align: center;
  margin-bottom: 4px;
}

.location {
  font-size: 16px;
  margin-bottom: 20px;
  border-radius: 10px;
  position: relative;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 20px;
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  /* font-weight: bold; */
  pointer-events: none;
}
.icon:hover .overlay,
.icon.editing .overlay {
  display: flex;
}

.hint-message {
  background-color: lightgoldenrodyellow;
  padding: 3px;
  font-size: 13px;
  border-radius: 3px;
}
.fadeHidden {
  opacity: 0;
  transition: opacity 0.3s ease-out;
}
body .fadeShow {
  opacity: 1;
}

.data-model-deep-link {
  color: black;
}

.neon-text2 {
  color: #fff;
  text-shadow: 0.1vw 0vw 0.25vw #d0d3ec, 0.2vw 0vw 0.25vw #d0d3ec,
    0.4vw 0vw 0.25vw #d0d3ec, 0.1vw 0vw 0vw #d0d3ec, 0.2vw 0vw 0vw #d0d3ec,
    0.4vw 0vw 0vw #d0d3ec, 0.1vw 0vw 0.1vw #9798c5, 0.2vw 0vw 0.1vw #9798c5,
    0.4vw 0vw 0.1vw #9798c5, 0.1vw 0vw 2vw #6061c9, 0.2vw 0vw 2vw #6061c9,
    0.4vw 0vw 2vw #6061c9, 0.1vw 0vw 1vw #2d2ba1, 0.2vw 0vw 1vw #2d2ba1,
    0.4vw 0vw 5vw #2d2ba1, 0.1vw 0vw 5vw #181ab1, 0.2vw 0vw 20vw #181ab1,
    0.4vw 0vw 10vw #181ab1, 0.1vw 0vw 10vw #04139e, 0.2vw 0vw 30vw #04139e,
    0.4vw 0vw 10vw #04139e;
}

.header-text {
  font-size: 80px;
  text-align: center;
  color: #fff;
  animation: pulse 1s ease-in-out infinite alternate;
}

@keyframes pulse {
  from {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #eef079, 0 0 20px #eef079,
      0 0 25px #eef079, 0 0 30px #eef079, 0 0 35px #eef079;
  }
  to {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #eef079,
      0 0 40px #eef079, 0 0 50px #eef079, 0 0 60px #eef079, 0 0 70px #eef079;
  }
}

.header-text2 {
  font-size: 80px;
  text-align: center;
  color: #fff;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6,
      0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;
  }
  to {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #0073e6,
      0 0 40px #0073e6, 0 0 50px #0073e6, 0 0 60px #0073e6, 0 0 70px #0073e6;
  }
}

.app-container {
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  overflow-x: scroll;
  scroll-behavior: smooth;
}

.main-container {
  width: 100%;
  height: 80%;
  background-color: gray;
  opacity: 0.9;
  border: darkgray;
  border-width: 1em;
  border-style: ridge;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  padding: 5px;
  box-shadow: 0.25em 0.25em 0.25em black;
}

.instructions-container {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: row;
}
.instructions-container__section {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.instruction-bubble {
  background-color: whitesmoke;
  padding: 2em;
  border-radius: 15px;
  display: flex;
  height: 90%;
  width: 80%;
  flex-direction: row;
  margin: 1em;
  overflow: scroll;
  box-shadow: 0.25em 0.25em 0.25em black;
}

.instruction-arrow__container {
  background-color: gold;
  height: 3em;
  width: 3em;
  border-radius: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0.25em 0.25em 0.5em black;
  margin: 0.5em;
  cursor: pointer;
}

.instruction-arrow__container2 {
  height: 3em;
  width: 3em;
  border-radius: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0.25em 0.25em 0.5em black;
  margin: 0.5em;
  cursor: pointer;
}

.instruction-text__container {
  width: 70%;
  text-align: left;
}

.instruction-text2 {
  color: white;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6,
    0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;
}

.instruction-arrow__container:active {
  box-shadow: 0em 0em 0em black;
}

.instruction-arrow {
  color: white;
  font-size: 2em;
  text-align: center;
  font-weight: bold;
}

.instruction-arrow2 {
  color: lightblue;
  font-size: 2em;
  text-align: center;
  font-weight: bold;
}

.arrowbox {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}
.guide-container {
  width: 30%;
  justify-content: center;
}

.guide-img {
  height: 10em;
  width: 10em;
  border-style: solid;
  border-color: chocolate;
  box-shadow: 0.25em 0.5em 0.5em black;
  margin-bottom: 0.5em;
}
.menu-container__section {
  display: flex;
  width: 30%;
  justify-content: flex-start;
  align-items: center;
}

.menu-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-container2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-item {
  width: 20em;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: red;
  color: white;
  box-shadow: 0.25em 0.25em 0.5em black;
}

.menu-item2 {
  width: 20em;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.menu-item :hover {
  color: yellow;
}

.menu-item2 :hover {
  color: grey;
}

.menu-item:active {
  box-shadow: 0em 0em 0em black;
}
.terms-container {
  display: flex;
  text-align: center;
  width: 100%;
  flex-direction: column;
}

@media only screen and (max-width: 1224px) {
  .instructions-container {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
  }
  .instructions-container__section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main-container {
    width: 100%;
    height: 100%;
    background-color: gray;
    opacity: 0.9;
    border: darkgray;
    border-width: 1em;
    border-style: ridge;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    justify-content: space-between;
    box-shadow: 0.25em 0.25em 0.25em black;
  }
  .terms-container {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
  }
  .menu-container__section {
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .menu-container {
    flex-direction: row;
    justify-content: space-around;
  }
}

@media only screen and (max-width: 870px) {
  .main-container {
    overflow: scroll;
  }
  .instructions-container__section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .instruction-bubble {
    background-color: whitesmoke;
    padding: 1em;
    border-radius: 15px;
    display: flex;
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 1em;
    overflow: scroll;
    align-items: center;
  }
  .guide-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .guide-img {
    height: auto;
    width: 30%;
    min-width: 112px;
    border-style: solid;
    border-color: chocolate;
    box-shadow: 0.25em 0.5em 0.5em black;
    margin-bottom: 0.5em;
  }
  .menu-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .terms-container {
    margin-top: 10em;
  }
}
