/* APP STYLES */
body {
  background-color: black;
}
#helpmode {
  cursor: help;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 20px;
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  /* font-weight: bold; */
  pointer-events: none;
}

.hint-message {
  background-color: lightgoldenrodyellow;
  padding: 3px;
  font-size: 13px;
  border-radius: 3px;
}

.data-model-deep-link {
  color: black;
}

.header-text {
  font-size: 80px;
  text-align: center;
  color: #fff;
  animation: pulse 1s ease-in-out infinite alternate;
}

/* ANIMATION EFFECTS*/

@keyframes glow {
  from {
    box-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #85e3fa, 0 0 4px #85e3fa,
      0 0 5px #85e3fa, 0 0 6px #85e3fa, 0 0 7px #85e3fa;
  }
  to {
    box-shadow: 0 0 10px #fff, 0 0 11px #fff, 0 0 12px #85e3fa, 0 0 13px #85e3fa,
      0 0 14px #85e3fa, 0 0 15px #85e3fa, 0 0 16px #85e3fa;
  }
}

@media only screen and (max-width: 900px) {
  div.leaflet-container {
    border: none;
    border-radius: 0px;
  }

  .app-controls {
    background-color: rgb(255, 255, 235);
  }
}

@keyframes popInChat {
  0% {
    opacity: 0;
    transform: scale(0.6, 0.6) translateY(120px);
  }
  60% {
    transform: translateY(-2px);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1) translateY(0px);
  }
}

@keyframes popInApp {
  0% {
    opacity: 0;
    transform: scale(0.9, 0.9) translateY(80px);
  }
  60% {
    transform: translateY(-2px);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1) translateY(0px);
  }
}

@keyframes pulse {
  from {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #eef079, 0 0 20px #eef079,
      0 0 25px #eef079, 0 0 30px #eef079, 0 0 35px #eef079;
  }
  to {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #eef079,
      0 0 40px #eef079, 0 0 50px #eef079, 0 0 60px #eef079, 0 0 70px #eef079;
  }
}

.header-text2 {
  font-size: 80px;
  text-align: center;
  color: #fff;
  animation: glow 1s ease-in-out infinite alternate;
}

@media only screen and (max-width: 1224px) {
}

@media only screen and (max-width: 870px) {
}
