.experienceinfo-container {
  display: flex;
  flex-direction: row;
  margin-right: 4em;
  margin-top: 1em;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-family: fantasy;
}

@media only screen and (max-width: 600px) {
  .experienceinfo-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
  }
}
