
.radioform-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.question-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:100%
}

.answers-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:100%
}
