**/.mypy_cache/*
**/__pycache__/*
data/*
.DS_Store
tmp/*
**/node_modules/*
examples/**/build/*
**/build/*
**/outputs/*

light.egg-info/
parlai.egg-info/
**/.vscode/*

dataset/*
logs/*
.coverage
*.zip

#emacs
*~
\#*\#
.\#*

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build


# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

*/src/config.js
