alabaster==0.7.12
appdirs==1.4.4
astroid==2.4.2
attrs==19.3.0
Babel==2.8.0
black==19.10b0
boto3==1.9.246
botocore==1.12.246
certifi==2020.4.5.1
cfgv==3.1.0
chardet==3.0.4
click==7.1.2
codecov==2.1.8
commonmark==0.9.1
coverage==5.2.1
distlib==0.3.1
docformatter==1.3
docutils==0.14
emoji==0.5.4
entrypoints==0.3
filelock==3.0.12
flake8==3.7.8
flake8-bugbear==19.8.0
gitdb2==2.0.5
GitPython==3.0.3
h5py==2.10.0
identify==1.4.25
idna==2.8
imagesize==1.2.0
importlib-metadata==1.6.0
isort==4.3.21
Jinja2==3.0.0a1
jmespath==0.10.0
joblib==0.14.1
lazy-object-proxy==1.4.3
-e git+git@github.com:facebookresearch/LIGHT.git@94019e5208a810a3499e3c6ae0f371593c917701#egg=light
Markdown==2.6.11
MarkupSafe==2.0.0a1
mccabe==0.6.1
mkl-fft==1.0.15
mkl-random==1.1.1
mkl-service==2.3.0
more-itertools==8.3.0
nltk==3.4.5
nodeenv==1.4.0
npm==0.1.1
numpy==1.18.1
olefile==0.46
optional-django==0.1.0
packaging==20.4
pandas==1.0.3
-e git+git@github.com:facebookresearch/ParlAI.git@0107e74d83b662e347890808dab02ef658d9e254#egg=parlai
-e git+git@github.com:fairinternal/ParlAI-Internal.git@6ecf619650ca96d4cc0e73dea3cb14308c7f0f85#egg=parlai_internal
pathspec==0.8.0
pexpect==4.7.0
Pillow==7.1.2
pluggy==0.13.1
pre-commit==2.6.0
ptyprocess==0.6.0
py==1.8.1
py-gfm==0.1.4
py-rouge==1.1
pycodestyle==2.5.0
pyflakes==2.1.1
Pygments==2.6.1
pylint==2.5.3
pyparsing==3.0.0a1
pytest==5.3.2
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.1
pyzmq==18.1.0
recommonmark==0.6.0
regex==2019.8.19
requests==2.22.0
requests-mock==1.7.0
s3transfer==0.2.1
scikit-learn==0.23.1
scipy==1.4.1
sh==1.12.14
six==1.14.0
smmap==3.0.4
smmap2==3.0.1
snowballstemmer==2.0.0
Sphinx==2.2.0
sphinx-autodoc-typehints==1.10.3
sphinx-rtd-theme==0.4.3
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
subword-nmt==0.3.7
threadpoolctl==2.0.0
tokenizers==0.4.2
toml==0.10.1
torch==1.4.0
torchvision==0.5.0
tornado==6.0.4
tqdm==4.36.1
typed-ast==1.4.1
typing-extensions==3.7.4.1
Unidecode==1.1.1
untokenize==0.1.1
urllib3==1.25.9
virtualenv==20.0.28
wcwidth==0.1.9
websocket-client==0.56.0
websocket-server==0.4
wrapt==1.12.1
yappi==1.2.5
zipp==3.1.0
