/*TAG ROW STYLES*/
.tagrow-container{
    display:flex;
    flex-direction: row;
    width: 100%;
    padding:10px
}

.tagrow-item__container{
    width:30%;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.tagrow-item__text {
    color:white;
    text-align: center;
    font-weight: bold;
    margin-bottom: 0;
    margin-left:5px;

}
