.question-container {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    align-items: flex-start;
}

.question-text {
    text-align: left;
    font-weight: bold;
    font-size: 20px;
}

.answer-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 30px;
}
