/*Message  */
.message {
  padding: 20px 10px 10px;
  clear: both;
  border: 1px solid rgb(201, 201, 201);
  margin: 5px;
  border-radius: 7px;
  text-align: center;
  position: relative;
  /* font-size: 16px; */
}

.message.me {
  float: left;
  margin-right: 80px;
}

.message.other {
  float: right;
  margin-left: 80px;
}

.message.type-setting {
  /* font-style: italic; */
  background-color: #efefef;
  color: rgb(42, 42, 42);
  border: none;
  font-size: 18px;
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 10px;
  margin-left: 130px;
  margin-right: 130px;
  text-align: left;
  display: block;
  white-space: pre-wrap;
}

.message.type-setting p,
.message.type-setting .markdown-p {
  margin: 0 0px 10px 0px;
}

.message.type-setting p:last-child,
.message.type-setting .markdown-p:last-child {
  margin: 0 0px 0px 0px;
}

.message.type-dialogue {
  background-color: white;
  animation: popInChat 0.25s cubic-bezier(0, 0.5, 0, 1);
  box-shadow: 0 2px 2px #bbb;
  text-align: left;
  white-space: pre-line;
}

.message.type-action {
  background-color: white;
  animation: popInChat 0.25s cubic-bezier(0, 0.5, 0, 1);
  box-shadow: 0 2px 2px #bbb;
  text-align: left;
  color: #999;
  font-style: italic;
}

.message .agent {
  font-size: 13px;
  top: 0;
  left: 0;
  margin: -19px -10px 5px -10px;
  color: #666;
  font-style: italic;
  display: flex;
  justify-content: space-between;
}

.message .agent span {
  background-color: rgba(0, 0, 0, 0.07);
  padding: 1px 5px;
  border-top-left-radius: 7px;
  margin-right: 7px;
}

.message-star {
  margin-left: 5px;
  animation: shine infinite 2s;
  color: #ffe205;
}

@keyframes shine {
  0% {
    color: #ffe205;
    text-shadow: 0 0 3px #ffe205, 0 0 7px #ffe205, 0 0 20px #edd205;
  }
  50% {
    color: gold;
    text-shadow: 0 0 0px #ffe205, 0 0 0px #ffe205, 0 0 0px #edd205;
  }
  100% {
    color: #ffe205;
    text-shadow: 0 0 3px #ffe205, 0 0 7px #ffe205, 0 0 20px #edd205;
  }
}

.message-xp {
}

/* Soul Spawn Message  */
.soulspawn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#soulspawn {
  background-color: #181ab1;
  border-style: groove;
  border-color: ivory;
  border-width: 0.5em;
}

.soulspawn-header {
  color: #fff;
  text-align: center;
  animation: pulse 1s ease-in-out infinite alternate;
  font-weight: bolder;
}

.soulspawn-subheader {
  text-decoration: underline;
  margin-bottom: 0;
  font-family: fantasy;
  font-weight: 900;
  font-size: 18px;
  color: #fff;
  text-align: center;
}

.soulspawn-text {
  color: #fff;
  text-align: center;
}

.soulspawn-star {
  text-align: center;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #eef079, 0 0 40px #eef079,
    0 0 50px #eef079, 0 0 60px #eef079, 0 0 70px #eef079;
}

/* Mission Success Message  */
.missionsuccess-container {
  display: flex;
  justify-content: center;
  height: 10em;
  width: 100%em;
  z-index: 1;
}

#missionsuccess-header {
  color: black;
  z-index: 10;
  text-align: center;
  position: absolute;
  top: -6%;
  font-family: fantasy;
  font-weight: bolder;
}

.missionsuccess-star__container {
  position: relative;
  width: 10em;
  z-index: 3;
}

.missionsuccess-star {
  position: absolute;
  z-index: 1;
}

.missionsuccess-star__exp {
  position: absolute;
  z-index: 10;
  font-family: fantasy;
  color: white;
  top: 20%;
  left: 30%;
  text-align: center;
  text-shadow: 1px 1px 1px black;
}

.missionsuccess-banner {
  position: absolute;
  background-color: white;
  z-index: 4;
  top: 60%;
  left: 5%;
  box-shadow: 2px 2px 4px black;
  padding-top: 1px;
  margin: 0;
  width: 90%;
}

.missionsuccess-banner__text {
  color: black;
  z-index: 6;
  text-align: center;
  font-size: 11px;
}
