.chatlog {
  width: 100%;
  display: flex;
  flex-direction: column;
}
/*Message  */
.message {
  padding: 20px 10px 10px;
  clear: both;
  border: 1px solid rgb(201, 201, 201);
  margin: 5px;
  border-radius: 7px;
  text-align: center;
  position: relative;
  width: auto;
  /* font-size: 16px; */
}

.message.me {
  flex-direction: row;
  justify-content: flex-start;
}

.message.other {
  flex-direction: row;
  justify-content: flex-end;
}

.message-xp {
}
/* MESSAGE ICONS*/
.message-icon__container {
  display: flex;
  flex-direction: row;
  margin-right: 4px;
}
.message-icon {
  font-size: 2em;
}
#message-star {
  position: absolute;
  animation: shrink 1s normal;
  color: #ffe205;
  top: 3%;
  right: 5%;
  font-size: 2em;
}

#message-star-O {
  position: absolute;
  top: 5%;
  right: 1%;
  font-size: 2em;
}

#message-star__number {
  margin-right: 2em;
  display: inline;
  font-size: 1.25em;
  animation: 4s slide normal;
}

@keyframes shrink {
  0% {
    color: #ffe205;
    font-size: 10em;
    z-index: 100;
  }
  100% {
    color: #ffe205;
    text-shadow: 3px 0 0px #ffe205, 7px 0 0px #ffe205, 20 0 0px #edd205;
    font-size: 2em;
    z-index: 100;
  }
}

@keyframes slide {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes shine {
  0% {
    color: #ffe205;
    text-shadow: 0 0 3px #ffe205, 0 0 7px #ffe205, 0 0 20px #edd205;
  }
  50% {
    color: gold;
    text-shadow: 0 0 0px #ffe205, 0 0 0px #ffe205, 0 0 0px #edd205;
  }
  100% {
    color: #ffe205;
    text-shadow: 0 0 3px #ffe205, 0 0 7px #ffe205, 0 0 20px #edd205;
  }
}

/*SETTING MESSAGE*/
.message.type-setting {
  /* font-style: italic; */
  justify-content: center;
  background-color: #efefef;
  color: rgb(42, 42, 42);
  border: none;
  font-size: 18px;
  text-align: left;
  display: block;
  white-space: pre-wrap;
}

.message.type-setting p,
.message.type-setting .markdown-p {
  margin: 0 0px 10px 0px;
}

.message.type-setting p:last-child,
.message.type-setting .markdown-p:last-child {
  margin: 0 0px 0px 0px;
}

.message.type-dialogue {
  background-color: white;
  animation: popInChat 0.25s cubic-bezier(0, 0.5, 0, 1);
  box-shadow: 0 2px 2px #bbb;
  text-align: left;
  white-space: pre-line;
}

.message.type-action {
  background-color: white;
  animation: popInChat 0.25s cubic-bezier(0, 0.5, 0, 1);
  box-shadow: 0 2px 2px #bbb;
  text-align: left;
  color: #999;
  font-style: italic;
}

.message .agent {
  font-size: 13px;
  top: 0;
  left: 0;
  margin: -19px -10px 5px -10px;
  color: #666;
  font-style: italic;
  display: flex;
  justify-content: space-between;
}

.message .agent span {
  background-color: rgba(0, 0, 0, 0.07);
  padding: 1px 5px;
  border-top-left-radius: 7px;
  margin-right: 7px;
}

/* Soul Spawn Message  */
.soulspawn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#soulspawn {
  background-color: #181ab1;
  border-style: groove;
  border-color: ivory;
  border-width: 0.5em;
}

.soulspawn-header {
  color: #fff;
  text-align: center;
  animation: pulse 1s ease-in-out infinite alternate;
  font-weight: bolder;
}

.soulspawn-subheader {
  text-decoration: underline;
  margin-bottom: 0;
  font-family: fantasy;
  font-weight: 900;
  font-size: 18px;
  color: #fff;
  text-align: center;
}

.soulspawn-text {
  color: #fff;
  text-align: center;
}

.soulspawn-star {
  text-align: center;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #eef079, 0 0 40px #eef079,
    0 0 50px #eef079, 0 0 60px #eef079, 0 0 70px #eef079;
}

/* Mission Success Message  */
.missionsuccess-container {
  display: flex;
  justify-content: center;
  height: 10em;
  width: 100%;
  z-index: 1;
}

#missionsuccess-header {
  color: black;
  z-index: 10;
  text-align: center;
  position: absolute;
  top: -6%;
  font-family: fantasy;
  font-weight: bolder;
}

.missionsuccess-star__container {
  position: relative;
  width: 10em;
  z-index: 3;
}

.missionsuccess-star {
  position: absolute;
  z-index: 1;
}

.missionsuccess-star__exp {
  position: absolute;
  z-index: 10;
  font-family: fantasy;
  color: white;
  top: 20%;
  left: 30%;
  text-align: center;
  text-shadow: 1px 1px 1px black;
}

.missionsuccess-banner {
  position: absolute;
  background-color: white;
  z-index: 4;
  top: 60%;
  left: 5%;
  box-shadow: 2px 2px 4px black;
  padding-top: 1px;
  margin: 0;
  width: 90%;
}

.missionsuccess-banner__text {
  color: black;
  z-index: 6;
  text-align: center;
  font-size: 11px;
}

/*HELP MESSAGE*/
.help-container {
  display: flex;
  justify-content: center;
  height: 48em;
  width: 100%;
  z-index: 1;
}

.help-question__container {
  position: relative;
  z-index: 3;
  width: 40em;
}

.help-question {
  position: absolute;
  z-index: 1;
  left: 10%;
  top: 10%;
}

.help-content {
  color: black;
  z-index: 10;
  text-align: center;
  position: absolute;
  font-family: fantasy;
  font-weight: bolder;
  width: 40em;
  background-color: #0072ff;
  border-color: #0072ff;
  border-style: solid;
  border-width: 0.2em;
  opacity: 0.8;
  border-radius: 15px;
  overflow-y: hidden;
  box-shadow: 4px 4px 6px black;
}

.help-content__header {
  color: black;
  z-index: 6;
  text-align: center;
  font-size: 14px;
  background-color: #0072ff;
  width: 100%;
  z-index: 6;
  color: white;
  font-weight: bolder;
  margin: 0;
}

.help-content__entries {
  background-color: white;
  z-index: 7;
  height: 100%;
  width: 100%;
  padding-top: 2px;
  overflow-y: scroll;
}

.help-content__entry {
  color: black;
  z-index: 6;
  text-align: center;
  font-size: 16px;
  font-weight: bolder;
}

/* Inventory Message*/

.inventory-container {
  display: flex;
  justify-content: center;
  height: 20em;
  width: 100%;
  z-index: 1;
}

.inventory-bag__container {
  position: relative;
  width: 20em;
  z-index: 3;
}

.inventory-bag {
  position: absolute;
  z-index: 1;
  left: 5%;
}

.inventory-content {
  color: black;
  z-index: 10;
  text-align: center;
  position: absolute;
  font-family: fantasy;
  font-weight: bolder;
  width: 100%;
  height: 16em;
  background-color: white;
  border-color: #bf8315;
  border-style: solid;
  border-width: 0.2em;
  opacity: 0.7;
  border-radius: 15px;
  overflow-y: scroll;
  box-shadow: 4px 4px 6px black;
  padding-top: 2.5em;
}

.inventory-content__text {
  color: black;
  z-index: 6;
  text-align: center;
  font-size: 11px;
}
/*Status Message*/
.status-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 20em;
  z-index: 1;
}

.status-heart__container {
  position: relative;
  width: 20em;
  z-index: 3;
}

.status-heart {
  position: absolute;
  z-index: 1;
  opacity: 0.8;
  left: 0.7em;
}

.status-content {
  position: absolute;
  z-index: 4;
  padding-top: 2.5em;
  margin: 0;
  width: 100%;
  height: 16em;
  border-color: red;
  border-width: 0.2em;
  border-style: solid;
  background-color: #efefef;
  opacity: 0.9;
  border-radius: 15px;
  overflow-y: hidden;
  box-shadow: 4px 4px 6px black;
}

.status-content__entry {
  color: black;
  z-index: 6;
  text-align: center;
  font-size: 14px;
  font-weight: bolder;
  padding-top: 1em;
}

/* Quest Message */
.quest-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 20em;
  z-index: 1;
}

.quest-grail__container {
  position: relative;
  width: 20em;
  z-index: 3;
}

.quest-grail {
  position: absolute;
  z-index: 1;
  opacity: 0.7;
  left: 0.7em;
}

.quest-content {
  position: absolute;
  z-index: 4;
  padding-top: 2.5em;
  margin: 0;
  width: 100%;
  height: 16em;
  border-color: yellow;
  border-width: 0.2em;
  border-style: solid;
  background-color: white;
  opacity: 0.6;
  border-radius: 15px;
  overflow-y: hidden;
  box-shadow: 4px 4px 6px black;
}

.quest-content__entry {
  color: black;
  z-index: 6;
  text-align: center;
  font-size: 14px;
  font-weight: bolder;
  padding-top: 1em;
}

@media only screen and (max-width: 1224px) {
}

@media only screen and (max-width: 950px) {
  .message {
    font-size: 15px;
  }
  .message .agent {
    font-size: 8px;
  }
}

@media only screen and (max-width: 600px) {
  /*MESSAGE */
  .message {
    font-size: 11px;
  }
  .message .agent {
    font-size: 8px;
  }
  /*SETTING MESSAGE*/
  .message.type-setting {
    width: 90%;
    margin: auto 0 auto 0;
    font-size: 11px;
    text-align: center;
  }
  /*MESSAGE ICONS*/
  .message-icon__container {
    display: flex;
    flex-direction: row;
  }
  .message-icon {
    font-size: 2em;
  }

  .message-star {
    position: absolute;
    animation: shrink 1s normal;
    color: #ffe205;
    top: 3%;
    right: 5%;
    font-size: 2em;
  }

  #message-star-O {
    position: absolute;
    top: 5%;
    right: 1%;
    font-size: 2em;
  }

  #message-star__number {
    margin-right: 2em;
    display: inline;
    font-size: 0.75em;
    animation: 4s slide normal;
  }
  /* STATUS MESSSAGE*/
  .status-content {
    width: 98%;
    overflow-x: hidden;
  }

  .status-content__entry {
    font-size: 11px;
  }

  .inventory-content {
    width: 98%;
    overflow-x: hidden;
  }

  .inventory-content__text {
    font-size: 11px;
  }

  .quest-content {
    width: 98%;
  }

  .quest-content__entry {
    font-size: 11px;
  }
  .soulspawn-header {
    font-size: 14px;
  }

  .soulspawn-subheader {
    font-size: 11px;
  }
}
