/* CHATINPUT STYLES*/
.chatbar-container {
  height: 30%;
  width: 100%;
}
input {
  border: none;
  padding: 10px;
  font-size: 1em;
  background-color: white;
  border: 0px solid #dedede;
  font-family: Lora, serif;
  width: 100%;
}

input::placeholder {
  font-style: italic;
  color: #aaa;
}

input:active,
input:focus {
  outline: none;
  font-style: normal;
}

.chatbox-input__edit-message {
  font: inherit;
  width: 100%;
  padding: 3px;
  box-sizing: border-box;
}

.chatbar {
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: center;
}

.chatbox-button {
  color: white;
  font-size: 0.7em;
  width: 10em;
  text-align: center;
  padding: 0 0.5em 0 0.5em;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 0px 5px;
}

.say {
  background-color: green;
  font-size: 1em;
}
.do {
  background-color: blue;
  font-size: 1em;
}

.send {
  background-color: gold;
  border-radius: 15px;
  border-style: double;
  border-color: white;
  box-shadow: 1px 1px 4px black;
  width: 5em;
  font-size: 1em;
}

@keyframes pulse {
  from {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #eef079, 0 0 20px #eef079,
      0 0 25px #eef079, 0 0 30px #eef079, 0 0 35px #eef079;
  }
  to {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #eef079,
      0 0 40px #eef079, 0 0 50px #eef079, 0 0 60px #eef079, 0 0 70px #eef079;
  }
}

.chatbox-button:hover {
  animation: pulse 1s infinite;
}

.chatbox-button:active {
  animation: pulse 1s infinite;
  box-shadow: 0px 0px 0px black;
}

.chatbox-input {
}

.chatbox {
}
