.sidebar {
  width: 100%;
  opacity: 1;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  display: flex;
  flex-direction: column;
  height: 100%;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.sidebar::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}

.mobile-sidebar {
  margin-top: 20vh;
  position: fixed;
  height: 100%;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 200;
  background-color: lightgrey;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mobile-sidebar.open {
  transform: translateX(0);
}

.sidebar-header__container {
  z-index: 1;
  background-color: #bf8315;
  box-shadow: 0 4px 4px -2px black;
  border-style: double;
  border-color: yellow;
  border-radius: 15px;
  width: 98%;
  padding: 5px 0 7px 0;
  min-width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.sidebar-header__container.active:hover {
  animation: glow 1s ease-in-out infinite alternate;
}

.sidebar-body__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.sidebar-body__container::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}
.sidebar-body__container.mobile {
  height: 40%;
}

.sidebar-row {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 7px;
  margin-left: 30px;
  margin-bottom: 10px;
}

@media only screen and (max-width: 1224px) {
}

@media only screen and (max-width: 950px) {
  .sidebar-header__container {
  }
  .sidebar {
    margin: 0;
  }
  .sidebar-row {
    align-items: center;
  }
}

@media only screen and (max-width: 600px) {
}
