/*HELP MESSAGE STYLES*/
.help-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 1;
  margin-bottom: 6em;
  overflow-y: scroll;
}

.help-question__container {
  position: relative;
  z-index: 3;
  width: 40em;
}

.help-question {
  position: absolute;
  z-index: 1;
  left: 5%;
}

.help-content {
  display: flex;
  flex-direction: column;
  color: black;
  z-index: 10;
  text-align: center;
  font-family: fantasy;
  font-weight: bolder;
  width: 100%;
  background-color: #0072ff;
  border-color: #0072ff;
  border-style: solid;
  border-width: 0.2em;
  opacity: 0.8;
  border-radius: 15px;
  overflow-y: scroll;
  box-shadow: 4px 4px 6px black;
  padding-top: 2.5em;
}

.help-content__header {
  color: black;
  z-index: 6;
  text-align: center;
  font-size: 14px;
  background-color: #0072ff;
  width: 100%;
  z-index: 6;
  color: white;
  font-weight: bolder;
  margin: 0;
}

.help-content__entries {
  background-color: white;
  z-index: 7;
  height: 100%;
  width: 100%;
  padding-top: 2px;
}

.help-content__entry {
  color: black;
  z-index: 6;
  text-align: center;
  font-size: 16px;
  font-weight: bolder;
}

@media only screen and (max-width: 950px) {
}

@media only screen and (max-width: 600px) {
  .help-container {
    height: 35em;
    width: 100%;
    z-index: 1;
    margin-bottom: 6em;
  }

  .help-question__container {
    width: 100%;
  }

  .help-question {
    z-index: 1;
    font-size: 19em;
  }

  .help-content {
    color: black;
    z-index: 10;
    text-align: center;
    font-family: fantasy;
    font-weight: bolder;
    width: 98%;
    background-color: #0072ff;
    border-color: #0072ff;
    border-style: solid;
    border-width: 0.2em;
    opacity: 0.8;
    border-radius: 15px;
    overflow-y: hidden;
    box-shadow: 4px 4px 6px black;
  }
  .help-content__header {
    color: black;
    z-index: 6;
    text-align: center;
    font-size: 14px;
    background-color: #0072ff;
    width: 100%;
    z-index: 6;
    color: white;
    font-weight: bolder;
    margin: 0;
  }

  .help-content__entries {
    background-color: white;
    z-index: 7;
    height: 100%;
    width: 100%;
    padding-top: 2px;
    overflow-y: scroll;
  }

  .help-content__entry {
    color: black;
    z-index: 6;
    text-align: center;
    font-size: 10px;
    font-weight: bolder;
  }
}
