/*HELP MESSAGE STYLES*/
.help-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 1;
  margin-bottom: 20px;
  overflow-y: scroll;
  overflow-x: hidden;
  justify-content: center;
  align-items: center;
}

.help-question__container {
  position: relative;
  z-index: 3;
  width: 90%;
}

.help-question {
  position: absolute;
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 38em;
  top: 75px;
}

.help-content {
  display: flex;
  flex-direction: column;
  color: black;
  z-index: 10;
  text-align: center;
  font-family: fantasy;
  font-weight: bolder;
  width: 90%;
  background-color: #0072ff;
  border-color: #0072ff;
  border-style: solid;
  border-width: 0.2em;
  opacity: 0.8;
  border-radius: 15px;
  overflow-y: scroll;
  overflow-x: hidden;
  box-shadow: 4px 4px 6px black;
  padding-top: 10px;
}

.help-content.active:hover {
  animation: glow 1s ease-in-out infinite alternate;
}

.help-content__header {
  color: black;
  z-index: 6;
  text-align: center;
  font-size: 20px;
  background-color: #0072ff;
  width: 100%;
  z-index: 6;
  color: white;
  font-weight: bolder;
  margin: 0;
}

.help-content__entries {
  background-color: white;
  z-index: 7;
  height: 100%;
  width: 100%;
  padding-top: 2px;
  padding-bottom: 16px;
  overflow-x: hidden;
}

.help-content__entry {
  color: black;
  z-index: 6;
  text-align: center;
  font-size: 16px;
  font-weight: bolder;
}

@media only screen and (max-width: 950px) {
}

@media only screen and (max-width: 600px) {
  .help-container {
    width: 100%;
    z-index: 1;
  }

  .help-question__container {
    width: 100%;
  }

  .help-question {
    z-index: 1;
    font-size: 19em;
    top: 100px;
  }

  .help-content {
    color: black;
    z-index: 10;
    text-align: center;
    font-family: fantasy;
    font-weight: bolder;
    width: 98%;
    background-color: #0072ff;
    border-color: #0072ff;
    border-style: solid;
    border-width: 0.2em;
    opacity: 0.8;
    border-radius: 15px;
    overflow-y: hidden;
    box-shadow: 4px 4px 6px black;
  }
  .help-content__header {
    color: black;
    z-index: 6;
    text-align: center;
    font-size: 14px;
    background-color: #0072ff;
    width: 100%;
    z-index: 6;
    color: white;
    font-weight: bolder;
    margin: 0;
  }

  .help-content__entries {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    z-index: 7;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
  }

  .help-content__entry {
    color: black;
    z-index: 6;
    text-align: center;
    font-size: 12px;
    font-weight: bolder;
    font-family: "Courier New", Courier, monospace;
  }
}
