.iconbutton {
  color: white;
  font-size: 2.25em;
  background-color: rgb(7, 101, 241);
  text-align: center;
  padding: 0.1em;
  border-radius: 25px;
  border-style: double;
  border-color: white;
  box-shadow: 1px 1px 4px black;
}

.iconbutton.active {
  color: rgb(7, 101, 241);
  font-size: 2.25em;
  background-color: white;
  text-align: center;
  padding: 0.1em;
  border-radius: 25px;
  border-style: double;
  border-color: rgb(7, 101, 241);
  animation: glow 1s ease-in-out infinite alternate;
}

.iconbutton:hover {
  animation: glow 1s ease-in-out infinite alternate;
}

.iconbutton-icon.active:active {
  box-shadow: 0px 0px 0px black;
}

@keyframes glow {
  from {
    box-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #85e3fa, 0 0 4px #85e3fa,
      0 0 5px #85e3fa, 0 0 6px #85e3fa, 0 0 7px #85e3fa;
  }
  to {
    box-shadow: 0 0 10px #fff, 0 0 11px #fff, 0 0 12px #85e3fa, 0 0 13px #85e3fa,
      0 0 14px #85e3fa, 0 0 15px #85e3fa, 0 0 16px #85e3fa;
  }
}

@media only screen and (max-width: 650px) {
}
