
.task-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    overflow: scroll;
}

.attributequestion-container{
    width:90%;
    border-color: blue;
    border-radius: 15px;
    border-style: solid;
    background-color: blue;
}
.attributequestion-header {
    text-align: center;
    font-weight: bold;
    color:white;
}
