.setting-container {
  /* font-style: italic; */
  background-color: #efefef;
  color: rgb(42, 42, 42);
  border: solid;
  border-style: solid;
  border-width: 1px;
  font-size: 18px;
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 10px;
  text-align: left;
  display: block;
  white-space: pre-wrap;
  width: 100%;
  text-align: center;
  border-radius: 10px;
}

@media only screen and (max-width: 950px) {
}

@media only screen and (max-width: 600px) {
}
