.sidedrawer {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 200;
  background-color: #ffee77;
  /* transform: translateX(-25%);
  transition: transform 0.3s ease-out; */
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidedrawer.open {
  transform: translateX(0);
}

.tab-active {
  color: black;
  background-color: white;
}
