.onboarding-container{
    height: 100vh;
    width: 100vw;
}
.onboarding-body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.onboarding-question {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-color: grey;
    border-style: ridge;
    border-radius: 10px;
    width: 80%;
    border-width: 10px;
    background-color: lightgrey;
}

.onboarding-buttons_container{
    width: 20%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.onboarding-button {
    font-size:30px;
    margin:4px;
}
