.customicon {
  position: relative;
}

.customicon-text__container {
  position: absolute;
  display: flex;
  width: 5em;
  height: 5em;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 2px;
}

.customicon-text {
  z-index: 2;
  color: grey;
  text-align: center;
  margin: 0;
  font-size: 0.8em;
}
