.events-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    border-color: black;
    border-width: 4px;
    border-radius: 15px;
    border-style: solid;
}

.events-header {
    width: 100%;
    background-color: coral;
    font-weight: bold;
    color: white;
    font-size: 16px;
    text-align: center;
}
