/*SELECTION LIST STYLES*/
.selectionlist-container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-style: ridge;
    border-color: blue;
    border-width: 10px;
    border-radius: 15px;
    width: 100%;
    padding:20px;
    margin:10px 5px 10px 5px;
}
/*SELECTION LIST ITEM*/
.selection-row {
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 5px 0 5px 0;
    width: 100%;
}

.selection-name__container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.selection-name__text {
    color: blue;
    font-weight: bold;
    margin-bottom: 0;
    padding:5px;
    text-align: center;
    font-size: 34;
}
