#mobile-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
}

.mobile-content {
  width: 100%;
  height: 70%;
  margin-bottom: 20em;
}

/*MOBILE HEADER*/
.mobileheader-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #421001;
  z-index: 100;
  height: 20%;
}

.mobileheader-logo {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50%;
}

.mobileheader-logo__img {
  width: 20%;
}

.mobileheader-logo__text {
  font-size: 50px;
  text-align: center;
  padding-left: 0.5em;
  color: #fff;
  animation: pulse 1s ease-in-out infinite alternate;
}

@keyframes pulse {
  from {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #eef079, 0 0 20px #eef079,
      0 0 25px #eef079, 0 0 30px #eef079, 0 0 35px #eef079;
  }
  to {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #eef079,
      0 0 40px #eef079, 0 0 50px #eef079, 0 0 60px #eef079, 0 0 70px #eef079;
  }
}

.mobileheader-tools {
  padding-left: 3em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 50%;
}

@media only screen and (max-width: 950px) {
  .mobile-content {
  }
  .mobileheader-logo__img {
  }
  .mobileheader-logo__text {
    font-size: 80px;
  }
}

@media only screen and (max-width: 650px) {
  .mobileheader-logo__img {
  }
  .mobileheader-logo__text {
    font-size: 50px;
    padding-left: 0.5em;
  }
}

@media (orientation: landscape) {
  #mobile-container {
  }

  .mobile-content {
    width: 100%;
    height: 80%;
    margin-bottom: 20em;
  }

  .mobileheader-container {
    flex-direction: row-reverse;
    height: 20%;
    justify-content: space-around;
    align-items: center;
  }
  .mobileheader-logo {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50%;
  }
  .mobileheader-logo__img {
  }
  .mobileheader-logo__text {
  }
}
