Pillow
boto3
botocore
flake8-rst-docstrings
flake8-docstrings
flake8-bugbear
flake8
gitpython
h5py
joblib
nltk
numpy
pexpect
py-gfm
pyzmq
regex
requests
scikit-learn
scipy
sh
sphinx
sphinx_rtd_theme
tqdm
websocket-client
websocket-server
py-rouge
pre-commit
docutils<0.15
emoji
tornado
http://download.pytorch.org/whl/cpu/torch-1.1.0-cp36-cp36m-linux_x86_64.whl
psycopg2-binary
