/*CHATCONTROLS STYLES*/
.controls {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 0px;
  background-color: rgb(255,255,255, .12);
}

@media only screen and (max-width: 1224px) {
}

@media only screen and (max-width: 950px) {
}

@media only screen and (max-width: 600px) {
  .controls {
  }
}
@media (orientation: landscape) {
}
