/* PREVIEW STYLES */

.preview-container {
    margin-top: 5px;
    width:90%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    background-color: white;
}
.intro-container{
    width:90%;
    margin-top:10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.intro-text{
    font-size: 20px;
}
