table, th, td {
    border: 4px ridge silver;
  }

.checklist-container {

}

.checklist-header__text {
    text-align: center;
    font-size: 28px;
    text-decoration: underline;
    font-weight: bold;

}


.checklist-table__header--text {
    text-align: center;
    padding: 4px;
}

.checklist-item {
    padding: 3px;
}
