.constraints-container {
    width: 48%;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 4px 4px 4px black;
    align-items: center;
    padding-bottom:20px;
}

.constraints-header {
    width: 100%;
    background-color: red;
    font-weight: bold;
    color: white;
    font-size: 16px;
    text-align: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
