.bar-container {
  height: 20;
  width: 60%;
  background-color: #e0e0de;
  border-radius: 5;
  margin: 50;
  border-style: outset;
  border-radius: 15px;
  box-shadow: 5px 2px 15px;
  border-color: rgb(131, 35, 35);
  border-width: thick;
}

.bar-filler {
  height: 100%;
  border-radius: inherit;
  text-align: right;
}

.bar-label {
  padding: 5;
  color: grey;
  font-weight: bold;
}
