/*TaskDescription*/
.description-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 60%;
    font-size: 20px;
}

.examples-container {
    width:90%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
}
.note-container {
    margin-top: 10px;
    width:90%;
    display:flex;
    justify-content: right;
}
.note-text{
    width: 50%;
    font-style: italic;
    font-size: 18px;
    text-align: left;
}
/*ExampleList*/
.list-container{
    display:flex;
    flex-direction: column;
    border-style: solid;
    width: 40%;
    align-items: center;
    border-radius: 15px;
    box-shadow: 4px 4px 8px black;
}

.list-header{
    width: 100%;
}

.list-header__text{
    color:white;
    font-weight: bold;
    text-align: center;
}
