.toggle-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.toggle-label {
  font-family: fantasy;
  font-weight: bold;
  color: white;
  margin-right: 10px;
}
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}
.toggle-switch input[type="checkbox"] {
  display: none;
}
.toggle-switch .switch {
  position: absolute;
  cursor: pointer;
  background-color: #ccc;
  border-radius: 25px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: background-color 0.2s ease;
}
.toggle-switch .switch::before {
  position: absolute;
  content: "";
  left: 2px;
  top: 2px;
  width: 21px;
  height: 21px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s ease;
}
.toggle-switch input[type="checkbox"]:checked + .switch::before {
  transform: translateX(25px);
  background-color: white;
  box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #eef079, 0 0 40px #eef079,
    0 0 50px #eef079, 0 0 60px #eef079, 0 0 70px #eef079;
}
.toggle-switch input[type="checkbox"]:checked + .switch {
  background-color: gold;
}
