.card-container {
    display: flex;
    flex-direction: column;
    width: 60%;
    border-width: 1em;
    box-shadow: 4px 4px 8px black;
    margin: 10px 0 10px 0;
    border-color: blue;
    border-style: solid;
}

.card-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.card-label {
    font-weight:bold;
}

.card-text {
    font-size: 1em;
}
