.card-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    border-width: 2px;
    margin: 10px 0 10px 0;
    border-color: black;
    border-style: solid;
    padding: 4px;
}

.card-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.card-label {
    font-weight:bold;
}

.card-text {
    font-size: 18px;
    text-align: center;
}
