.levelDisplay-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 2em;
  justify-content: center;
  align-items: center;
}
.level-container {
  height: 8em;
  width: 8em;
  border-radius: 4em;
  background-color: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.level-number {
  color: white;
  text-shadow: 2px 2px black;
  font-size: 2.5em;
  margin: 0;
}
