.levelDisplay-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  padding-top: 12px;
}
.level-container {
  width: 2.5em;
  height: 2.5em;
  background-color: yellow;
  display: flex;
  border-radius: 1.25em;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: 0.3rem;
}
.level-number {
  color: grey;
  margin: 0;
}

@media only screen and (max-width: 900px) {
  .level-number {
    font-size: 16px;
  }
}

@media only screen and (max-width: 600px) {
  .level-number {
    font-size: 12px;
  }
}
