.chat-wrapper {
  display: flex;
  flex-direction: column;
  animation: popInApp 0.3s 0.3s cubic-bezier(0.5, 0, 0, 1);
  animation-fill-mode: forwards;
  overflow-x: hidden;
  overflow-y: scroll;
  opacity: 0;
  min-height: 500px;
  height: 100%;
  width: 100%;
  padding-left: 10px;
}

.chat {
  height: 100%;
  width: 100%;
  border: 1px solid rgb(184, 184, 184);
  background-color: rgb(228, 226, 221);
  margin: 30px 0px 0px;
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 10px 10px 0px 0px;
  position: relative;
  border-style: ridge;
  border-color: lightgray;
  border-width: 10px 10px 0px 10px;
}

@media only screen and (max-width: 1224px) {
}

@media only screen and (max-width: 950px) {
  .chat-wrapper {
    position: fixed;
    display: flex;
    flex-direction: column;
    animation: popInApp 0.3s 0.3s cubic-bezier(0.5, 0, 0, 1);
    animation-fill-mode: forwards;
    overflow-x: hidden;
    overflow-y: scroll;
    opacity: 0;
    min-height: 455px;
    height: 100%;
  }
  .chat {
    margin: 0px 0px 0px 0px;
  }
}

@media only screen and (max-width: 600px) {
  .chat-wrapper {
    width: 100%;
  }
}

@media only screen and (max-height: 650px) and(orientation: landscape) {
  .chat-wrapper {
    height: 10%;
  }
}
