.chat-wrapper {
  display: flex;
  flex-direction: column;
  animation: popInApp 0.3s 0.3s cubic-bezier(0.5, 0, 0, 1);
  animation-fill-mode: forwards;
  overflow-y: auto;
  opacity: 0;
  min-height: 500px;
  height: 100%;
}

.chat {
  height: 100%;
  border: 1px solid rgb(184, 184, 184);
  background-color: rgb(228, 226, 221);
  margin: 30px 20px 0px;
  overflow-y: auto;
  border-radius: 10px 10px 0px 0px;
  position: relative;
  border-style: ridge;
  border-color: lightgray;
  border-width: 10px 10px 0px 10px;

  /* box-shadow: 0px 10px 10px rgba(250, 199, 169, 0.5); */
}

@media only screen and (max-width: 1224px) {
}

@media only screen and (max-width: 950px) {
}

@media only screen and (max-width: 600px) {
  .chat {
    width: 100%;
  }
}
