.path-container {
  border-style:solid;  
  border-color: grey;
  border-radius: 15px;
  background-color: grey;
  opacity: 0;
}

.path-container:hover{

    opacity: .2;
}
  

.path-container.horizontal {
    height: 5%;
    width: 100%;
}

.path-container.vertical {
    height: 100%;
    width: 5%;
}


.active {
    background-color: grey;
    opacity: 1;
}

.path-container.active:hover{

    opacity: 1;
}