/* ACTIONBAR STYLES */
.actions {
  display: flex;
  padding: 0px 10px 0px;
  font-size: 14px;
  overflow: scroll;
  flex-wrap: wrap;
  align-items: center;
}

.actions.active:hover {
  animation: glow 1s infinite;
}

.actions.active:active {
  animation: glow 1s infinite;
}
