.speechbubble {
  font-family: fantasy;
  font-size: 1em;
  color: black;
  position: relative;
  background: white;
  padding: 5px;
  border-radius: 10px;
  z-index: 10;
  margin: 10px;
  min-width: 60px;
}

.speechbubble::after {
  position: absolute;
  content: "";
  border: 20px solid transparent;
}

.bottom.speechbubble::after {
  border-top-color: white;
  border-bottom: 0;
  left: 30%;
  margin-left: -37%;
  top: 20%;
  z-index: -1;
}

.speechbubble :hover {
  cursor: pointer;
  font-size: 1.2em;
}
