.collapsible-container {
  border-radius: 25px;
  box-shadow: 5px 2px 5px;
  margin: 10px auto 10px auto;
  width: 90%;
}

.collapsible-container.active:hover {
  animation: glow 1s ease-in-out infinite alternate;
}

.collapsible-header {
  display: flex;
  flex: row;
  justify-content: space-between;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  padding-right: 10px;
}

.collapsible-header--text {
  margin-bottom: 0px;
  margin-top: 2px;
  font-family: fantasy;
  text-align: center;
  margin-left: 2em;
}

.collapsible-header--icon {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  padding: 0.5em;
  cursor: pointer;
  margin-right: 0.1em;
}

.collapsible-body {
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  padding: 10px;
  text-align: center;
  margin: 0px;
}

@media only screen and (max-width: 600px) {
  .collapsible-header--text {
    margin-bottom: 0px;
    margin-top: 2px;
    font-family: fantasy;
    text-align: center;
    margin-left: 2em;
    font-size: 10;
  }
}
