.question-container {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

.question-header {
    text-align: left;
    font-weight: bold;
    font-size: 18px;
}


.fieldlist-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    width: 70%;
}

/*Field Row*/
.row-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.field-container {
    background-color: green;
    border-radius: 5px;
    border-color: silver;
    border-style: ridge;
    padding: 3px;
    border-width: 4px;
}
.field-text {
    color: white;
    font-weight: bold;
    font-size: 20px;
}
.answer-container {


}
.answer-text {
    font-size: 20px;
    border-radius: 5px;
    border-color: silver;
    border-style: ridge;
    padding: 3px;
    border-width: 4px;
}
